<h1>Remove Member</h1>
<p>Are you sure you want to remove <strong><%=h @user.name %></strong> from the group <strong><%= @group.name %></strong>?</p>

<% form_tag "", :method => 'post' do %>
<%- if protect_against_forgery? -%>
  <input type="hidden" name="<%= request_forgery_protection_token %>" value="<%= escape_javascript form_authenticity_token %>" />
<%- end -%>
  <p class="buttons"><%= submit_tag "Remove Member", :class => 'button' %> or <%= link_to 'Cancel', group_index_url %></p>
<% end %>
